<div class="login">
  <h1>Login</h1>
</div>
<br>
<div class="login-form">
  <form action="/login" method="POST">
    <label>
      Username :
      <input class="input" type="text" name="username" required />
    </label>
    <br />
    <label
      >Password :
      <input class="input" type="password" name="password" required />
    </label>
    <br />
    <div id="login-btn">
      <button class="btn" type="submit">Login</button>
    </div>
  </form>
</div>

<% if (typeof errorMessage !=='undefined' ) { %>
<p class="login" style="color: red"><%= errorMessage %></p>
<div id="signup-btn">
  <a href="/signup"
    ><button class="btn" type="submit">Sign Up</button></a
  >
</div>
<% } %>
