<div class="signup">
<h1>Sign up</h1>
</div>
<br>
<div class="signup-form">
<form action="/signup" method="POST">
    <label>Username :
        <input class="input" type="text" name="username" required
            value="<% if (typeof errorMessage !== 'undefined') { %><%= username %><% } %>" />
    </label>
<br>

    <label>Password : <input class="input" type="password" name="password" required /></label>
    <br>
    <div id="signup-btn">
    <button class="btn" type="submit">Sign Up</button>
</div>
</form>
</div>

<% if (typeof errorMessage !=='undefined' ) { %>
    <p class="signup" style="color: red">
        <%= errorMessage %>
    </p>
    <% } %>