<h1 class="homepage-logo">[<%= appTitle %>]</h1>

<div id="about-us">
  <h2>About Us</h2>
  <br />
  <p>
    Here at DishSafari, we are dedicated to helping users explore a world of
    cooking recipes that span the globe. Our mission is to expand the culinary
    horizons of our users by providing access to a diverse range of recipes from
    different cultures and regions.
  </p>
  <br />
  <p>
    At DishSafari, we understand that cooking is more than just a means of
    sustenance - it's a creative outlet and a way to connect with others. That's
    why we're passionate about sharing the unique flavors and techniques that
    are found in different cuisines. Whether you're a seasoned chef or a
    beginner in the kitchen, our platform has something for everyone.
  </p>
  <br />
  <p>
    Our platform is not just about recipes, it's also a community of food
    lovers. We encourage our users to share their cooking experiences, tips, and
    ideas with each other. Our hope is that by sharing our love of food and
    cooking, we can inspire our users to try new things, and to explore the rich
    and diverse world of cuisine that is out there.
  </p>
  <br />
  <p>
    Join us on this culinary adventure and discover the flavors of the world
    with DishSafari.
  </p>
  <br />
</div>
<div id="recipe-btn">
  <a class="recipes-btn" href="/recipes">RECIPES</a>
</div>
