<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= appTitle %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/62087c0894.js" crossorigin="anonymous"></script>
</head>
<nav id="nav">
  <div class="links">
    <a href="/" class="nav-logo">DishSafari</a>
  </div>
  <div class="search-bar">
    <a href="/">Home</a>
    <a href="/recipes">Recipes</a>
    <% if (locals.userInSession) { %>
      <a href="/user/profile">Profile</a>
      <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/signup">SIGNUP</a>
        <a href="/login">LOGIN</a>
        <% } %>

  </div>
</nav>

<body>
  <%- body %>

    <script src="/js/script.js"></script>
</body>
<footer class="footer">
  <p>©2023 - DishSafari</p>
</footer>

</html>