<a href="/">Home</a>
<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>

<% if(userInSession) { %>
    <h1>Welcome <%= userInSession.username %>! </h1>
    <p>This is all your Recipes!</p>
    <% } else { %>
        <br>
        <p>Still no logged in user, sorry!</p>
        <% } %>