* {
  margin: 0;
}

nav {
  background-color: rgb(70, 78, 46);
  padding-left: 30px;
  padding-right: 30px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: rgb(233, 229, 214);
}

.nav-logo {
  font-family: 'Caesar Dressing', cursive;
  font-size: 2rem;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: rgb(233, 229, 214);
}

a {
  color: #00b7ff;
}

.logo {
  font-family: 'Bangers', cursive;
}

footer {
  background-color: rgb(54, 39, 6);
  color: rgb(233, 229, 214);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.homepage-logo {
  font-family: 'Caesar Dressing', cursive;
  font-size: 10rem;
  color: rgb(70, 78, 46);
  display: flex;
  justify-content: center;
}

#recipe-btn {
display: flex;
justify-content: center;
}

.recipes-btn {
  background-color: rgb(172, 185, 146);
  color: rgb(54, 39, 6);
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  padding: 10px 30px;
  border: rgb(54, 39, 6) solid 0.5px;
  border-radius: 15px;
}

#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-us h2  {
  text-align: center;
  list-style: inside;
    display: inline-block;
  width: 60%;
  
}

#about-us p  {
  text-align: center;
  list-style: inside;
    display: inline-block;
  width: 60%;
  
}

.login {
  color: rgb(70, 78, 46);
  display: flex;
  justify-content: center;
  margin: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 5px;
}

#login-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
  }

.signup {
  color: rgb(70, 78, 46);
  display: flex;
  justify-content: center;
  margin: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
  }

.btn {
  background-color: rgb(172, 185, 146);
  color: rgb(54, 39, 6);
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  padding: 5px 15px;
  border: rgb(54, 39, 6) solid 0.5px;
  border-radius: 15px;
  margin-top: 10px;
}

#editCreateRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputFields {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.selectFields {
  width: 307px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

label {
  flex: 1 1 auto;
  text-align: left;
  margin-right: 10px;
}

.deleteBtn {
  background-color: rgb(144, 12, 63);
  color: rgb(233, 229, 214);
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  padding: 5px 15px;
  border: rgb(54, 39, 6) solid 0.5px;
  border-radius: 15px;
  margin-left: 15px;
}

#edit-btn {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#randomSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  padding: 25px;
  width: fit-content;
}

.recipeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profileGreeting {
    color: rgb(70, 78, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.logoutBtn {
  background-color: rgb(172, 185, 146);
  color: rgb(54, 39, 6);
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  padding: 5px 15px;
  border: rgb(54, 39, 6) solid 0.5px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.container-filter {
    display: flex;
    align-items: center;
    justify-content: center;
}
