<h2>All Recipes</h2>
<a href="/recipes/recipe/randomRecipe">Random Recipe</a>

<ul>
<% allRecipes.forEach(recipe => { %>
 <li><a href="/recipes/<%- recipe._id %>"><%= recipe.title %></a></li>
 <li><img src="<%= recipe.image %>" alt=""></li>
<% }) %>
</ul>


