<h1 class="logo">All DishSafari Recipes</h1>
<a href="/recipes/recipe/randomRecipe">Random Recipe</a>

<div id="filter">
    <h3>Filter Recipes</h3>
<form action="/recipes/filter" method="POST">
    <label for="title">Title: <input type="text" name="title" id="title" placeholder="Name of Recipe"/></label>
    <label for="recipeType">Recipe Type: <select name="recipeType" id="recipeType">
        <option value="meat">Meat</option>
        <option value="fish">Fish</option>
        <option value="vegetarian" selected>Vegetarian</option>
        <option value="vegan">Vegan</option>
    </select></label>
    <label for="mealType">Meal Type: <select name="mealType" id="mealType">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner" selected>Dinner</option>
        <option value="snack">Snack</option>
        <option value="dessert">Dessert</option>
    </select></label>
    <label for="level">Level: <select name="level" id="level">
        <option value="Novice">Novice</option>
        <option value="Intermediate" selected>Intermediate</option>
        <option value="advanced">Advanced</option>
        <option value="expert">Expert</option>
    </select></label>
    <label for="continent">Continent: <select name="continent" id="continent">
        <option value="Asia">Asia</option>
        <option value="Africa">Africa</option>
        <option value="Australia" selected>Australia</option>
        <option value="europe">Europe</option>
        <option value="northAmerica">North America</option>
        <option value="southAmerica">South America</option>
    </select></label>
    <label for="countryOfOrigin">Country of origin: <input type="text" name="countryOfOrigin" id="countryOfOrigin" /></label>
    <button type="submit">Filter</button>
  </form>
</div>
  

  <% allRecipes.forEach(recipe => { %>
    <img src="<%= recipe.image %>" alt="" height="250px"/>
  <a href="/recipes/<%- recipe._id %>"><h3><%= recipe.title %></h3></a>
  <% }) %>

